<?xml version="1.0" encoding="utf-8" ?>
<config>
    <modules>
        <Fianet_Sac>
            <version>0.5.8</version>
        </Fianet_Sac>
    </modules>
    <admin>
        <routers>
            <sac>
                <use>admin</use>
                <args>
                    <module>Fianet_Sac</module>
                    <frontName>sac</frontName>
                </args>
            </sac>
        </routers>
    </admin>
    <global>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <Sac_Auto_Send_Order>
                        <type>singleton</type>
                        <class>sac/action</class>
                        <method>auto_send_order</method>
                    </Sac_Auto_Send_Order>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <models>
            <sac>
                <class>Fianet_Sac_Model</class>
                <resourceModel>sac_mysql4</resourceModel>
            </sac>
            <sac_mysql4>
                <class>Fianet_Sac_Model_Mysql4</class>
                <entities>
                    <payment_association>
                        <table>fianet_sac_payment_association</table>
                    </payment_association>
                </entities>
            </sac_mysql4>
        </models>
        <helpers>
            <sac>
                <class>Fianet_Sac_Helper</class>
            </sac>
        </helpers>
        <resources>
            <sac_setup>
                <setup>
                    <module>Fianet_Sac</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sac_setup>
            <sac_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sac_write>
            <sac_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sac_read>
        </resources>
        <blocks>
            <sac>
                <class>Fianet_Sac_Block</class>
            </sac>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Fianet_Sac>
                    <files>
                        <default>Fianet_Core.csv</default>
                    </files>
                </Fianet_Sac>
            </modules>
        </translate>
        <menu>
            <fianet>
                <children>
                    <sacconfig module="sac" translate="title">
                        <title>S.A.C.</title>
                        <sort_order>2</sort_order>
                        <children>
                            <sacpaymentconfig translate="title" module="sac">
                                <title>Payment method configuration</title>
                                <sort_order>1</sort_order>
                                <action>sac/payment</action>
                            </sacpaymentconfig>
                        </children>
                    </sacconfig>
                </children>
            </fianet>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sac>
                            <title>S.A.C.</title>
                            <sort_order>202</sort_order>
                        </sac>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <sac>
                    <file>sac.xml</file>
                </sac>
            </updates>
        </layout>
    </adminhtml>
</config>