<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * 2000-2012 FIA-NET
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0) that is available
 * through the world-wide-web at this URL: http://www.opensource.org/licenses/OSL-3.0
 * If you are unable to obtain it through the world-wide-web, please contact us
 * via http://www.fia-net-group.com/formulaire.php so we can send you a copy immediately.
 *
 *  @author FIA-NET <support-boutique@fia-net.com>
 *  @copyright 2000-2012 FIA-NET
 *  @version Release: $Revision: 1.0.1 $
 *  @license http://www.opensource.org/licenses/OSL-3.0  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Fianet_Sac>
            <version>1.0.1</version>
        </Fianet_Sac>
    </modules>
    <admin>
        <routers>
            <sac>
                <use>admin</use>
                <args>
                    <module>Fianet_Sac</module>
                    <frontName>sac</frontName>
                </args>
            </sac>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Fianet_Sac>
                    <files>
                        <default>Fianet_Sac.csv</default>
                    </files>
                </Fianet_Sac>
            </modules>
        </translate>
        <layout>
            <updates>
                <sac>
                    <file>sac.xml</file>
                </sac>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <events>
            <sales_order_save_after>
                <observers>
                    <sac_auto_send_order>
                        <type>singleton</type>
                        <class>sac/observer</class>
                        <method>autoSendOrder</method>
                    </sac_auto_send_order>
                </observers>
            </sales_order_save_after>
        </events>
        <models>
            <sac>
                <class>Fianet_Sac_Model</class>
                <resourceModel>sac_mysql4</resourceModel>
            </sac>
            <sac_mysql4>
                <class>Fianet_Sac_Model_Mysql4</class>
                <entities>
                    <payment_association>
                        <table>fianet_sac_payment_association</table>
                    </payment_association>
                </entities>
            </sac_mysql4>
        </models>
        <helpers>
            <sac>
                <class>Fianet_Sac_Helper</class>
            </sac>
        </helpers>
        <blocks>
            <sac>
                <class>Fianet_Sac_Block</class>
            </sac>
        </blocks>
        <resources>
            <sac_setup>
                <setup>
                    <module>Fianet_Sac</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sac_setup>
            <sac_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sac_write>
            <sac_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sac_read>
        </resources>
    </global>
    <default>
        <sac>
			<sacconfg>
				<timecontrol><![CDATA[22]]></timecontrol>
			</sacconfg>
            <saclink>
                <produrl><![CDATA[https://secure.fia-net.com/fscreener/]]></produrl>
                <testurl><![CDATA[https://secure.fia-net.com/pprod/]]></testurl>
                <stacking><![CDATA[engine/stacking.cgi]]></stacking>
                <validstack><![CDATA[engine/get_validstack.cgi]]></validstack>
                <alert><![CDATA[engine/get_alert.cgi]]></alert>
                <interface><![CDATA[commun/visucheck_detail.php]]></interface>
                <checkxml><![CDATA[marchand/checkxml.php]]></checkxml>
            </saclink>
        </sac>
    </default>
    <crontab>
        <jobs>
            <fianetsac_get_evaluation>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>sac/action::getEvaluation</model>
                </run>
            </fianetsac_get_evaluation>
            <fianetsac_get_reevaluation>
                <schedule>
                    <cron_expr>10 0,12 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sac/action::getReevaluation</model>
                </run>
            </fianetsac_get_reevaluation>
            <fianetsac_send_missing_orders>
                <schedule>
                    <cron_expr>0 */3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sac/action::sendMissingOrders</model>
                </run>
            </fianetsac_send_missing_orders>
        </jobs>
    </crontab>
</config>
